@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/lato-v24-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/lato-v24-latin-900.woff2') format('woff2');
}

body {
  margin: 0;
  background-color: rgb(25, 25, 35);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

body * {
  color: rgb(220, 220, 230);

  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  box-sizing: border-box;
}

object {
  pointer-events: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

header {
  width: 95%;
  padding: 30px 0 30px;
  margin-bottom: 30px;

  text-align: left;

  font-size: 1.4em;
  font-weight: 700;

  display: flex;
  align-items: center;
  gap: 15px;
}

section {
  width: calc(100% - 30px);
  padding: 15px;
  background-color: rgba(60, 60, 70, 0.3);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'panel panel'
    'input output';
  gap: 20px;
}

section > div {
  width: 100%;
}

#panel {
  grid-area: panel;
}

#input {
  grid-area: input;
}

#output {
  grid-area: output;
}

#input,
#output {
  height: 380px;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

textarea {
  background-color: rgb(45, 45, 65);
  font-size: 1.3em;
  line-height: 1.7em;
  resize: none;

  height: 100%;
  width: 100%;
  padding: 20px;

  border: 3px solid rgb(30, 30, 40);
}

textarea.translating {
  background-color: rgb(40, 40, 60);
  color: rgb(150, 150, 150);
}

.language {
  display: flex;
  align-items: center;
  gap: 20px;
}

select,
option {
  background-color: rgb(25, 25, 35);
  padding: 3px 6px;

  border: 3px solid rgb(30, 30, 40);
  border-radius: 5px;

  text-transform: capitalize;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  background-color: rgb(25, 25, 35);
  border: none;
  border-radius: 10px;

  height: 50px;
  width: 50px;
  padding: 7px 10px;

  cursor: pointer;
}

button > * {
  height: 100%;
  width: 100%;
}

button:active,
button.active {
  background: rgb(45, 45, 70);
}

#spell-input-lang,
#spell-output-lang {
  width: 230px;
}

footer {
  width: 100%;
  padding: 10px 0;
  margin-top: 30px;

  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 700px) {
  section {
    grid-template-columns: 100%;
    grid-template-rows: 50px 1fr 1fr;
    grid-template-areas:
      'panel'
      'input'
      'output';
  }

  section > div {
    height: 300px;
  }
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(150, 150, 150, 0.25);
}
